<ion-header>
	<ion-navbar>
		<ion-title *ngIf="!viewCtrl.data.review">Add Review for {{movie.Title}}</ion-title>
		<ion-title *ngIf="viewCtrl.data.review">Edit Review for {{movie.Title}}</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cancel()">Cancel</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-card>
		<ion-card-header>Rating</ion-card-header>
		<ion-card-content>
			<rating [(ngModel)]="rating" max="5"></rating>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>Review</ion-card-header>
		<ion-card-content>
			<ion-textarea rows="6" [(ngModel)]="review"></ion-textarea>
		</ion-card-content>
	</ion-card>
	<div padding>
		<button ion-button block *ngIf="!viewCtrl.data.review" (click)="add()">Add</button>
		<button ion-button block *ngIf="viewCtrl.data.review" (click)="edit()">Edit</button>
	</div>
</ion-content>
