<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Home
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addList()">
        <ion-icon name="add"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="view">
			<ion-segment-button value="all">
				All
			</ion-segment-button>
			<ion-segment-button value="lists">
				My Lists
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div [ngSwitch]="view">
		<div *ngSwitchCase="'lists'">
			<ion-list>
				<ion-item-sliding *ngFor="let list of movies.getLists()">
					<button ion-item (click)="viewList(list)">
						{{list.name}}
					</button>
					<ion-item-options>
						<button ion-button color="danger" (click)="movies.removeList(list)">
          		Remove
        		</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngSwitchCase="'all'">
			<ion-list *ngFor="let genre of movies.getGenres(null, null)">
				<ion-list-header>
					{{genre}}
				</ion-list-header>
				<ion-item-sliding *ngFor="let movie of movies.getMovies(null, genre)">
					<ion-item (click)="movieInfo(movie)">
						<ion-thumbnail item-left>
							<img src="{{movie.Poster}}" />
						</ion-thumbnail>
						<h2>
							{{movie.Title}} ({{movie.Year}})
						</h2>
						<p>
							{{movie.Director}}
						</p>
						<p>
							<ion-icon small name="star">&nbsp;{{movie.imdbRating}}</ion-icon>
						</p>
					</ion-item>
					<ion-item-options>
						<button ion-button color="danger" (click)="movies.removeMovie(movie)">
          Remove
        </button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
	</div>
</ion-content>
