<ion-header>
	<ion-navbar color="primary">
		<ion-title>Movies</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="segment">
			<ion-segment-button value="all">All</ion-segment-button>
			<ion-segment-button value="lists">Lists</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="segment">
	<ion-list *ngSwitchCase="'all'">
		<ion-item *ngFor="let movie of lists.getMovies(null, movieFilter)" text-wrap (click)="viewMovie(movie)">
			<ion-thumbnail item-left>
				<img src="{{movie.Poster}}" />
			</ion-thumbnail>
			<h2>{{movie.Title}} ({{movie.Year}})</h2>
		</ion-item>
	</ion-list>
	<ion-list *ngSwitchCase="'lists'">
		<ion-item (click)="addList()">
			<ion-icon item-right name="add"></ion-icon>
			Create New List
		</ion-item>
		<ion-item-sliding *ngFor="let list of lists.get(listFilter)">
			<ion-item text-wrap (click)="viewList(list)">{{list.name}}</ion-item>
			<ion-item-options>
				<button ion-button color="danger" (click)="lists.remove(list)">Remove</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>