page-movie {
	.metascore {
		color: #fff;
		display: inline-block;
		text-align: center;
		padding: 1px 4px;
	}

	.metascore.favorable {
		background-color: #61c74f;
	}

	.metascore.mixed {
    background-color: #ffcc33;
	}

	.metascore.unfavorable {
		background-color: #ff0000;
	}
}
