<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Things To Watch
    </ion-title>
    <ion-buttons start>
      <button ion-button menuToggle icon-only>
                <ion-icon name="menu"></ion-icon>
            </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addMovie()">
                <ion-icon name="add"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar placeholder="Search Genres" [(ngModel)]="genreFilter"></ion-searchbar>
  <ion-list *ngFor="let genre of getGenres()">
    <ion-list-header>
      {{genre}}
    </ion-list-header>
    <ion-item-sliding *ngFor="let movie of getMovies(genre)">
      <button ion-item (click)="movieInfo(movie)">
        <ion-thumbnail item-left>
          <img src="{{movie.Poster}}" />
        </ion-thumbnail>
        <h2>
          {{movie.Title}}
        </h2>
        <p>
          {{movie.Director}}
        </p>   
        <p>
          <ion-icon small name="star">&nbsp;{{movie.imdbRating}}</ion-icon>
        </p>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="removeMovie(movie)">
          Remove
        </button>
        <button ion-button (click)="addWatched(movie)">
          Watched
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
